

main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  
 
  margin-top:15px;
}

.nav-bar{
  border:1px solid lightgray;
  height:150px;
}

#about-me-title{
  font-family: 'Anton', sans-serif;
  font-size:35px;
}

.about-me{
  
  
  color:white;
  text-align: center;
  background-color:black;  
  height:830px;
}


.name-logo{
  float:left;
  font-family: 'Lalezar', cursive;
  font-size:50px;
  color:gray;
  letter-spacing: 3px;
}

.banner-area{
  display:flex;
  justify-content: space-between;
  height:950px;
  border:1px solid lightgray;
}


#hey-message{
  margin-left:20px;
}
.banner-slogan{
  font-family: 'Anton', sans-serif;
  font-size:85px;
  text-align: left;
  
}
.banner-button{
  margin-top:50px;
  text-align: left;
  margin-left:20px;
}

.banner-desc{
  text-align: left;
  margin-left:30px;
  font-family: 'Muli', sans-serif;
  font-size:45px;
}


.banner{
  width:100%;
  background-image:linear-gradient(68deg, rgba(231, 244, 250, 0.64), rgba(205, 236, 255, 0.64));
}

.about-me-paragraph{
  font-family: 'Muli', sans-serif;
  font-size:20px;
  width:90%;
  text-align: center;
  margin-left:20px;
}


.portfolio{
  border:1px solid lightgray;
  width:100%;
  height:600px;
  font-size: 20px;
  color:gray;
  background-image:linear-gradient(68deg, rgba(231, 244, 250, 0.64), rgba(205, 236, 255, 0.64));
  
  
}
.portfolio-area{
  height:800px;
  border:1px solid lightgray;
}
.lets-talk{
  background-color:black;
  height:800px;
  color:white;
  font-family: 'Anton', sans-serif;
  font-size:50px;
}
.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}

